
@{
    ViewData["Title"] = "Admin Login"; 
}
<script src="https://kit.fontawesome.com/852b931f78.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="~/css/Auth.css" />

 <div class="container-1 mt-4">
        <div class="container-2">
            <form>
                <h1 style="color: #03254C; text-align: center;">LOG IN</h1> <br /> <br /> <br />
                <div class="container-form">
                    <div class="username-container">
                        <label for="username">USERNAME</label>
                        <input type="text" id="username" placeholder="ENTER USERNAME" />
                        <i class="fa-solid fa-envelope icon"></i>
                    </div>

                    <div class="password-container">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" placeholder="ENTER PASSWORD" />
                        <i class="fa-solid fa-lock icon"></i>
                        <i class="fa-solid fa-eye-slash eye-icon"></i>
                    </div>
                </div>

                <div class="btn-container">
                    <button class="btn">LOG IN</button> <br /> <br />
                    <a>FORGOT PASSWORD?</a>
                </div>
            </form>
        </div>
    </div>
<script src="~/js/Auth.js" defer></script>