@{
    ViewData["Title"] = "Announcement";
}
<link rel="stylesheet" href="~/css/admin-anno.css" asp-append-version="true" />
<div class="anno-container">
    <div class="announcement-container">
        <h1>Announcement</h1>
    </div>
    <h2> <i class="fa-solid fa-plus"></i>   Announcement</h2>
    <div class="content">
        <p class="date-time">28 September 2024 10:44PM</p>
        <h3>PABATID!</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut viverra ligula. Ut consectetur convallis pretium. Integer ullamcorper risus scelerisque magna varius, at commodo mi accumsan. Vestibulum et vestibulum mi, eget hendrerit nisl. Nunc leo ex, hendrerit eget elementum vitae, scelerisque ut urna. Integer nec lacus magna. Nulla facilisi.
        </p>
    </div>

    <div>
        <a href="#" onclick="editAnnouncement()">
            <img src="~/Images/Admin/edit-button.png" alt="edit" style="width: 24px; height: 24px;" />
        </a>
        <a href="#" onclick="deleteAnnouncement()">
            <i class="fa-regular fa-trash-can"></i>
        </a>
    </div>

    <div class="content">
        <p class="date-time">28 September 2024 10:44PM</p>
        <h3>HEP! HEP!</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut viverra ligula. Ut consectetur convallis pretium. Integer ullamcorper risus scelerisque magna varius, at commodo mi accumsan. Vestibulum et vestibulum mi, eget hendrerit nisl. Nunc leo ex, hendrerit eget elementum vitae, scelerisque ut urna. Integer nec lacus magna. Nulla facilisi.
        </p>
    </div>

    <div>
        <a href="#" onclick="editAnnouncement()">
            <img src="~/Images/Admin/edit-button.png" alt="edit" style="width: 24px; height: 24px;" />
        </a>
        <a href="#" onclick="deleteAnnouncement()">
            <i class="fa-regular fa-trash-can"></i>
        </a>
    </div>
</div>
