@{
    ViewData["Title"] = "Admin Dashboard";
}

<link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />

<div class="container mt-4">
    <h2>Dashboard Overview</h2>
      
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/Dashboard.js"></script>
