@{
    ViewData["Title"] = "FAQs";
}
<link rel="stylesheet" href="~/css/Admin-faq.css" asp-append-version="true" />
<div class="faq-outer-container">
    <div class="info-card-header">FAQs</div>

    <div class="faq-form-container">
        <div class="faq-add-item" id="faq-add-item">
            <a href="#" onclick="addItem()">
                <img src="~/Images/Admin/add-button.png" alt="add" style="width: 24px; height: 24px;" />
            </a>
            <span>Add Item</span>
        </div>
        <div class="faq-card">
            <a href="#" onclick="removeItem()">
                <img src="~/Images/Admin/remove.png" alt="remove" style="width: 24px; height: 24px;" />
            </a>
            <input type="text" placeholder="What is your question?" class="faq-input">
            <a href="#" onclick="editItem()">
                <img src="~/Images/Admin/edit-button.png" alt="edit" style="width: 24px; height: 24px;" />
            </a>
        </div>
        <div class="faq-card">
            <input type="text" placeholder="This is the answer..." readonly class="faq-input readonly">
        </div>
        <div class="faq-card">
            <a href="#" onclick="removeItem()">
                <img src="~/Images/Admin/remove.png" alt="remove" style="width: 24px; height: 24px;" />
            </a>
            <input type="text" placeholder="What is another question?" class="faq-input">
            <a href="#" onclick="editItem()">
                <img src="~/Images/Admin/edit-button.png" alt="edit" style="width: 24px; height: 24px;" />
            </a>
        </div>
        <div class="faq-card">
            <input type="text" placeholder="This is another answer..." readonly class="faq-input readonly">
        </div>
    </div>
</div>
<script src="~/js/Admin-faq.js"></script>
