@model List<G_5_BMS.Models.Officials>

@{
    ViewData["Title"] = "Edit Officials";
}

<link rel="stylesheet" href="~/css/Officials.css" />
<script src="~/js/Officials.js" defer></script>

<div class="container-org mt-4">
    <div class="org-header mb-4">
        <h2>Edit Barangay Officials</h2>
        <div class="custom-dropdown">
            <button class="btn btn-secondary" id="dropdownButton">
                Select Council
            </button>
            <div class="dropdown-menu" id="dropdownMenu" style="display: none;">
                <a class="dropdown-item" href="#" data-council="barangay">BRGY COUNCIL</a>
                <a class="dropdown-item" href="#" data-council="youth">YOUTH COUNCIL</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="inner-cards-container" id="officialsContainer">
                @foreach (var official in Model)
                {
                    <div class="inner-card">
                        <div class="inner-card-row">
                            <a href="#" onclick="removeAction(@official.Id)" title="Remove">
                                <img src="~/Images/Admin/remove.png" alt="remove" style="width: 24px; height: 24px;" />
                            </a>
                            <div class="inner-card-title">@official.Title</div>
                            <a href="#" onclick="editAction(@official.Id)" title="Edit">
                                <img src="~/Images/Admin/edit-button.png" alt="edit" style="width: 24px; height: 24px;" />
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
