    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G_5_BMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/G_5_BMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <button class="btn btn-primary" id="toggleSidebar">
                    <i class="bi bi-list" style="font-size: 24px; color: white;"></i>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Dashboard">Barangay Management System</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="d-flex">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-contents">
                <ul class="list-unstyled">
                    <li>
                        <a asp-controller="Admin" asp-action="Dashboard">
                            <i class="bi bi-house"></i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Applications">
                            <i class="bi bi-file-earmark"></i>
                            List of Applications
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="HomeContents">
                            <i class="bi bi-bell"></i>
                            Announcements
                        </a>
                    </li>
                     <li>
                        <a asp-controller="Admin" asp-action="FAQs">
                            <i class="bi bi-chat-dots"></i>
                            Feedback Inquiries
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Organization">
                            <i class="bi bi-people"></i>
                            Organizational Chart
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Pinfo" title="Personal Info">
                            <i class="bi bi-person"></i> 
                            Personal Information
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - G_5_BMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/AdminLayout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
