html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.d-flex {
    display: flex;
    flex: 1; 
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #1167B1;
    padding: 15px;
    transition: all 0.3s;
    flex-shrink: 0;
    height: 100vh; 
    position: sticky; 
    top: 0; 
}

.sidebar-contents {
    display: block;
}

.sidebar ul {
    padding: 0;
}

    .sidebar ul li {
        list-style-type: none;
        margin: 10px 0;
    }

        .sidebar ul li a {
            text-decoration: none;
            color: white; 
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

            .sidebar ul li a:hover,
            .sidebar ul li a.active {
                background-color: #81AED6; 

            }

            .sidebar ul li a i {
                font-size: 20px;
                margin-right: 10px;
            }

#toggleSidebar {
    margin-bottom: 0px;
    padding: 5px;
}


.navbar {
    background-color: #03254C;
}

.navbar-brand {
    margin-left: 10px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.btn-primary {
    padding: 2px;
    border: none;
}
.circle {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    background-color: #007bff; 
    margin-right: 10px; 
}

.sidebar-name {
    font-size: 1.2rem; 
    color: white;
    font-weight: bold; 
}

.divider {
    border: 0; 
    border-top: 1px solid #dee2e6; 
    margin: 10px 0; 
}
.sidebar-contents a {
    display: flex;
    align-items: center;
}

    .sidebar-contents a i {
        font-size: 20px;
        margin-right: 10px;
    }

.logout-form {
    margin-top: auto;
    margin-bottom: 0; 
    padding-top: 200px; 
}

.logout-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: indianred;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

    .logout-link:hover {
        background-color: darkred; 
        color: white;
        border-radius: 5px;
    }

    .logout-link i {
        font-size: 20px;
        margin-right: 10px;

    }
.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.container {
    flex: 1; 
}
.footer {
    background-color: #f8f9fa; 
    padding: 10px; 
}

.footer-left {
    font-size: 14px; 
}

.footer-right {
    font-size: 14px; 
}

.footer-link {
    color: #007bff; 
    text-decoration: none; 
}

    .footer-link:hover {
        text-decoration: underline;
    }

.border-top {
    border-top: 1px solid #dee2e6; 
}
