.container-1 {
    max-width: 500px;
    background-color: #D0EFFF;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 100px 50px;
    border-radius: 15px;
    margin: auto;
}

.container-2 {
    background-color: #FFFF;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: inherit;
    border-radius: inherit;
    height: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 45px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.center-text {
    text-align: center;
    margin: 10px 0;
    color: #03254C;
    font-size: 1.0rem;
}

label {
    color: #03254C;
    margin-left: 10px;
}

h1, .btn-container {
    color: #03254C;
    text-align: center;
}

.btn {
    background-color: #D0EFFF;
    border: none;
    color: #03254C;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.icon {
    position: absolute;
    left: 15px;
    top: 63%;
    transform: translateY(-50%);
    z-index: 1;
    color: #03254C;
    pointer-events: none;
    font-size: 20px;
}

.username-container, .password-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 63%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    color: #03254C;
}
