.custom-card {
    border: none; /* Remove the card border */
    border-radius: 0.5rem; /* Optional: Add some border radius for a smoother look */
    padding: 20px; /* Add padding around the card content */
    box-shadow: none; /* Remove any box shadow */
}

.card-header {
    background-color: #007BFF; /* Header background color */
    color: white; /* Header text color */
}

.card-body {
    padding: 20px; /* Add padding to the body */
}

/* Optional: Add styles for form controls */
.form-control {
    border: 1px solid #ccc; /* Control border */
    border-radius: 0.25rem; /* Control border radius */
}

.btn-primary {
    background-color: #007BFF; /* Button background color */
    border-color: #007BFF; /* Button border color */
}

    .btn-primary:hover {
        background-color: #0056b3; /* Button hover color */
    }

.services-section {
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider {
    border: 1px solid #000;
    margin: 0;
}

.services-label {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    background-color: white;
}
