.chart-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
    max-width: 400px; 
}

    .chart-container canvas {
        margin: 0 30px; 
        flex: 1; 
    }


.recent-applications {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .recent-applications th,
    .recent-applications td {
        border: 1px solid #ddd;
        padding: 8px; 
        text-align: left; 
    }

    .recent-applications th {
        background-color: #f2f2f2;
        font-weight: bold; 
    }

    .recent-applications tr:hover {
        background-color: #f1f1f1;
    }
