body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-nav {
    background-color: #03254C;
}

    .header-nav .navbar-brand {
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: bold;
        color: white;
    }

    .header-nav .navbar-toggler-icon {
        background-color: white;
    }

    .header-nav .nav-link {
        font-weight: 600;
        color: white;
    }

.container {
    flex: 1;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
}

.footer-left {
    font-size: 14px;
}

.footer-right {
    font-size: 14px;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
}

    .footer-link:hover {
        text-decoration: underline;
    }

.border-top {
    border-top: 1px solid #dee2e6;
}

.title {
    font-size: 3vh;
    color: white;
}

.subtitle {
    font-size: 2vh;
    color: white;
}

.Sec-navbar {
    padding: 0;
    margin: 0;
    background-color: #1167B1;
    color: white;
}

    .Sec-navbar h1 {
        font-size: 2rem;
    }

    .Sec-navbar p {
        font-size: 1.2rem;
    }
