body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

.header-nav {
    
    background-color: #03254C;
}

    .header-nav .navbar-brand {
        font-family: 'Inter', sans-serif;
        font-style: italic;
        font-weight: bold;
        color: white;
    }

    .header-nav .navbar-toggler-icon {
        background-color: white;
    }

    .header-nav .nav-link {
        font-weight: 600;
        color: white;
    }
.container {
    flex: 1; /* Allow the container to grow and fill available space */
}
.footer {
    background-color: #f8f9fa; /* Light background color */
    padding: 10px; /* Add padding for space */
}

.footer-left {
    font-size: 14px; /* Adjust font size for the left section */
}

.footer-right {
    font-size: 14px; /* Adjust font size for the right section */
}

.footer-link {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

    .footer-link:hover {
        text-decoration: underline; /* Add underline on hover */
    }

.border-top {
    border-top: 1px solid #dee2e6; /* Top border color */
}


.title {
    font-size: 3vh;
    color: white;
}

.subtitle {
    font-size: 2vh;
    color: white;
}
.Sec-navbar {
    padding:0;
    margin:0;
    background-color: #1167B1; 
    color: white; 
}

    .Sec-navbar h1 {
        font-size: 2rem;
    }

    .Sec-navbar p {
        font-size: 1.2rem; 
    }
