.card {
    background-color: #D0EFFF;
    box-shadow:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}.card-img-top {
    margin-top:10px;
    height: 150px;
    width: 150px; 
    object-fit: cover;   
    border-radius: 50%; 
    overflow: hidden; 
}
